@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

button.yellow{
	border-radius:5px;
	background-position: center left 5px, center left 5px;
        font-family: 'Roboto', sans-serif;
        border: 1px solid #ddd;
        background-color: #e6e600;
  
    
       -o-transition: background-color .2s ease-in; 
	-moz-transition: background-color .2s ease-in;
	-webkit-transition: background-color .2s ease-in; 
	transition: background-color .2s ease-in; 
}
button.yellow:hover{
        background-color: #cccc00;    
}

button.yellow:active {
    	background-color: #b3b300;
}

